:root {
  --base-background-color: #1f2f16;
  --base-text-color: #fff;
  --painel-background-color: #2f3f26;
  --tarefa-background-color: #3e4e36;
  --tarefa-completa-background-color: #4caf50;
  --tarefa-completa-status-background-color: #8bc34a;
  --tarefa-incompleta-status-background-color: #ff9800;
  --apagar-background-color: #f44336;
  --adicionar-background-color: #2196f3;
}

[data-theme=light] {
  --base-background-color: #eaf4e3;
  --base-text-color: #2f4f2f;
  --painel-background-color: #f2f9f1;
  --tarefa-background-color: #d4e4d1;
  --tarefa-completa-background-color: #9ac79d;
  --tarefa-completa-status-background-color: #66a36c;
  --tarefa-incompleta-status-background-color: #ffb74d;
  --apagar-background-color: #e57373;
  --adicionar-background-color: #66a36c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: var(--base-background-color);
  color: var(--base-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  width: 100%;
  max-width: 400px;
  height: calc(100% - 2em);
  max-height: 600px;
  margin: 1em;
  padding: 1em;
  background-color: var(--painel-background-color);
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  gap: 1em;
}

header {
  text-align: center;
}

header h1 {
  font-size: 2em;
  margin-bottom: 0.25em;
  cursor: pointer;
}

header input {
  width: 100%;
  padding: 0.5em;
  border: none;
  border-radius: 5px;
  background-color: var(--tarefa-background-color);
  color: var(--base-text-color);
}

.tarefas {
  flex-grow: 1;
  overflow-y: auto;
  scrollbar-color: var(--tarefa-background-color) var(--painel-background-color);
  scrollbar-width: thin;
}

.tarefas ul {
  list-style: none;
}

.tarefas li {
  background-color: var(--tarefa-background-color);
  margin-bottom: 0.5em;
  padding: 1em;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5em;
  cursor: pointer;
}

.tarefas li:last-child {
  margin-bottom: 0;
}

.tarefas li.completa {
  background-color: var(--tarefa-completa-background-color);
}

.tarefas .descricao {
  flex-grow: 1;
}

.tarefas .status {
  font-size: 0.75em;
  padding: 2px 8px;
  border-radius: 20px;
  text-transform: uppercase;
  text-wrap: nowrap;
  display: inline-block;
  min-width: 6em;
  text-align: center;
  background-color: var(--tarefa-incompleta-status-background-color);
}

.tarefas li.completa .status {
  background-color: var(--tarefa-completa-status-background-color);
}

.tarefas .apagar {
  font-size: 0.75em;
  background-color: var(--apagar-background-color);
  color: white;
  border: none;
  padding: 0.5em 1em;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.85;
}

.tarefas .apagar:hover {
  opacity: 1;
}

.nova-tarefa {
  display: flex;
  gap: 0.5em;
}

.nova-tarefa input {
  width: 100%;
  padding: 0.5em;
  border: none;
  border-radius: 5px;
  background-color: var(--tarefa-background-color);
  color: var(--base-text-color);
  flex-grow: 1;
}

.nova-tarefa button {
  padding: 0.5em 1em;
  border: none;
  border-radius: 5px;
  background-color: var(--adicionar-background-color);
  color: white;
  cursor: pointer;
  opacity: 0.85;
}

.nova-tarefa button:hover {
  opacity: 1;
}

@media screen and (max-width: 430px) {
  body {
    font-size: 80%;
  }
}

@media screen and (max-width: 250px) {
  body {
    font-size: 60%;
  }
}

@media screen and (max-width: 200px) {
  body {
    font-size: 40%;
  }
}
